<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="/">Auth0 - Angular</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
    </li>
  </ul>
  <form class="form-inline">
    <button *ngIf="auth.isAuthenticated" class="btn btn-outline-primary" id="qsLoginBtn" type="button">Log In</button>
    <button *ngIf="!auth.isAuthenticated" class="btn btn-outline-primary" id="qsLogoutBtn" type="button">Log Out</button>
  </form>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>
